<!DOCTYPE html>
<html>
<head>
  <title>DateApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p> Made by Cruz.  Don't h8.</p>
</body>
</html>
